@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

body {
  background: center / cover linear-gradient(to right, #000000, #303030)
    no-repeat;
  color: white;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-size: cover; /* Ensures the gradient covers the entire background */
  background-attachment: fixed; /* Prevents the gradient from scrolling with the content */
  background-blend-mode: multiply;
  padding-left: 10vw;
  overflow: hidden;
}

.parent {
  display: flex;
}

.container {
  display: flex;
  width: 100vw;
  color: white;
}

.left {
  width: 50vw;
  height: 80vh;
  /* margin-left: 5vw; */
}

.heading {
  height: 40px;
  width: 18vw;
  background-color: white;
  font-weight: 500;
  font-size: 25px;
  color: #303030;
  text-align: center;
  letter-spacing: 8px;
  margin-top: 15vh;
}

.right {
  position: relative;
  height: 80vh;
  width: 30vw;
  display: flex;
  margin-left: 11.5vw;
  z-index: -1;
}

.profile-image {
  position: relative;
  height: 80vh;
  top: 0;
  right: -6vw;
  border-radius: 18vh;
  object-fit: cover;
  border: none;
  display: block;
}

.main p {
  font-weight: 100;
  margin-top: 30px;
  font-size: 18px;
}

a {
  text-decoration: none;
}


/* Maintenance.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #0d0d0d;
  color: #ffffff;
}

.maintenance-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vh;
  background-color: #0d0d0d;
}

.maintenance-content {
  text-align: center;
}

.maintenance-content h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.maintenance-content p {
  font-size: 1.2rem;
  color: #bbbbbb;
  margin: 8px 0;
}
